<!DOCTYPE html>
<html class="index_html" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/style.css">
    <title>ALL POSTS - FORUM</title>
</head>

<body class="index_body">
    {{if .Auth}}
    <!-- <p>Welcomee {{ .Username}}</p> -->
    <header>
        <div class="form_login">
            <form action="/logout" method="get">
                <button class="login-button" type="submit">Logout</button>
            </form>
        </div>
        <div class="form_login">
            <form action="/createPost" method="get">
                <button class="login-button" type="submit">Create Post</button>
            </form>
        </div>
    </header>
    {{else}}
    <header>
        <div class="form_login">
            <form action="/login" method="get">
                <button class="login-button" type="submit">Login</button>
            </form>
        </div>
        <div class="form_login">
            <form action="/createPost" method="get">
                <button class="login-button" type="submit">Create Post</button>
            </form>
        </div>
    </header>
    {{end}}
    <main class="taller">
        <section class="top">

            <div class="filters">
                <form class="filter" action="/catfiltered" method="POST">
                    <label for="category">Category filter</label>
                    <hr>
                    {{range .Cats}}
                    <div class="rowOfFilter">
                        <input type="checkbox" name="category" id="category{{.ID}}" value="{{.ID}}" {{if .Checked}}
                            checked {{end}}>
                        <label for="category{{.ID}}">{{.Name}}</label>
                    </div>
                    {{end}}
                    <hr>
                    <input type="submit" value="Filter">
                    <a class="clear_filter" href="/">Clear</a>
                </form>
                <div class="create_and_react_filter">
                    <a class="filter_created" href="/created">created by me</a>
                    <a class="filter_reacted" href="/reacted">reacted by me</a>
                </div>
            </div>
        </section>
        <section class="bot">
            <div class="posts-container">
                {{if .Posts}}
                {{range .Posts}}
                <div class="post-container">
                    <a class="image_card" href="/post/{{.Id}}">
                        <img src="https://media.istockphoto.com/id/1220827048/vector/anonymous-gender-neutral-face-avatar-incognito-head-silhouette.jpg?s=612x612&w=0&k=20&c=WUv9IHp5s5xY03UDkawu_xUrjmLFW0VMkwx3oAFl7QQ="
                            alt="">
                    </a>
                    <div class="meta_data">
                        <div class="meta_data_title">
                            <a href="/post/{{.Id}}">
                                <h2>{{.Title}}</h2>
                            </a>
                        </div>
                        <div class="section">
                            <span class="text_gray"> Categories: </span>
                            <span class="categories"> {{range $index, $cat := .Cats}}{{if $index}},
                                {{end}}{{.Name}}{{end}} </span>
                        </div>
                    </div>
                </div>
                {{end}}
                {{else}}
            </div>
            <p>No posts found</p>
            {{end}}
            </div>
        </section>
    </main>
</body>

</html>