<!DOCTYPE html>
<html class="post_html" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="shortcut icon" href="/style/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style/style.css">
    <title>{{.Post.Title}}</title>
</head>

<body class="post_body">
    <header>
        <div class="form_login">
            <form action="/" method="get">
                <button class="login-button" type="submit">Home</button>
            </form>
        </div>
    </header>
    <main class="post_taller">
        <div class="post-section">
            <h1>{{.Post.Title}}</h1>
            <div>
                <p>{{.Post.Content}}</p>
            </div>
            <p>Categories: {{range $index, $cat := .Post.Cats}}{{if $index}}, {{end}}{{.Name}}{{end}}</p>
        </div>
        <h4>Likes : {{.LikesCount}} || Dislikes : {{ .DislikesCount}}</h4>
        {{if .Auth}}
        <div class="reaction-section">
            <div class="reaction-section">
                <form action="/reactPost" method="POST">
                    <input type="hidden" name="postID" value="{{.Post.Id}}">
                    <input type="hidden" name="sign" value="1">
                    <button type="submit">&#128077;</button>
                </form>
                <form action="/reactPost" method="POST">
                    <input type="hidden" name="postID" value="{{.Post.Id}}">
                    <input type="hidden" name="sign" value="-1">
                    <button type="submit">&#128078;</button>
                </form>
            </div>
        </div>
        {{end}}

        <div class="comment-section">
            <h2>Comments</h2>
            {{if .Auth}}
            <form action="/submitComment" method="POST">
                <input type="hidden" name="postID" value="{{.Post.Id}}">
                <!-- <textarea name="content" id="content" cols="30" rows="10"></textarea> -->
                <div id="content" dir="auto" class="content" aria-label="Enter comment" contenteditable="true"></div>
                <br>
                <button type="submit">Create Comment</button>
            </form>
            {{else}}
            <p>You must be logged in to create comment</p>
            {{end}}

            {{if .Comments}}
            {{range .Comments}}
            <div class="comment-container">
                <p>{{.Content}}</p>
                <p>Author: {{.Author}}</p>
                <div class="comment-reaction">
                    <h4>Likes : {{.LikesCount}} || Dislikes : {{ .DislikesCount}}</h4>
                    <div class="reaction-section">
                        <!-- {{if $.Auth}} -->
                        <form action="/reactComment" method="POST">
                            <input type="hidden" name="postID" value="{{$.Post.Id}}">
                            <input type="hidden" name="commentID" value="{{.ID}}">
                            <input type="hidden" name="sign" value="1">

                            <button class="likos" type="submit">&#128077;</button>

                        </form>
                        <form action="/reactComment" method="POST">
                            <input type="hidden" name="postID" value="{{$.Post.Id}}">
                            <input type="hidden" name="sign" value="-1">
                            <input type="hidden" name="commentID" value="{{.ID}}">
                            <button class="dis" type="submit"> &#128078;</button>
                        </form>
                        <!-- {{end}} -->
                    </div>
                </div>
            </div>
            {{end}}
            {{else}}
            {{if .Auth}}
            <p>Be the first who will create comment</p>
            {{end}}
            {{end}}
        </div>
    </main>
</body>

</html>