<!DOCTYPE html>
<html class="postCreate_html" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="shortcut icon" href="/style/favicon.ico" type="image/x-icon">
    <title>Create Post</title>
</head>

<body>

    <body class="postCreate_body">
        <header>
            <div class="form_login">
                <form action="/" method="get">
                    <button class="login-button" type="submit">Home</button>
                </form>
            </div>
        </header>
        <div class="outer_creation_taller">
            <main class="creation_taller">
                <div class="creation_layout">
                    <div class="creation_block">
                        <h1>Create a Post</h1>
                        <div class="shadow-box">
                            <form action="/createPost" method="POST">
                                <label for="title">Title:</label>
                                <input type="text" id="title" name="title" maxlength="24" required>
                                <br>
                                <label for="content">Content:</label>
                                <textarea id="content" name="content" maxlength="300" required></textarea>
                                <br>
                                <div class="filter">
                                    <label for="category">Category:</label>
                                    <br>
                                    {{range .}}
                                    <div class="choose_categoty">
                                        <input type="checkbox" id="{{.ID}}" name="cats" value="{{.ID}}">
                                        <label for="{{.ID}}">{{.Name}}</label>
                                        <br>
                                    </div>
                                    {{end}}
                                </div>
                                <div class="creation_button_block">
                                    <button class="creation_button" type="submit">Create Post</button>
                                </div>
                        </div>
                    </div>
                </div>
        </div>
        </main>
    </body>
</body>

</html>