<!DOCTYPE html>
<html class="post_html" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="shortcut icon" href="/style/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style/style.css">
    <title>{{.Post.Title}}</title>
</head>

<body class="post_body">
    <header>
        <div class="form_login">
            <form action="/" method="get">
                <button class="login-button" type="submit">Home</button>
            </form>
        </div>
    </header>
    <main class="post_taller">
        <div class="post-section">
            <h1>{{.Post.Title}}</h1>
            
            <div class="image_card_post">
                <img
                    src="https://media.istockphoto.com/id/1220827048/vector/anonymous-gender-neutral-face-avatar-incognito-head-silhouette.jpg?s=612x612&w=0&k=20&c=WUv9IHp5s5xY03UDkawu_xUrjmLFW0VMkwx3oAFl7QQ=">
            </div>
            <p>Categories: {{range $index, $cat := .Post.Cats}}{{if $index}}, {{end}}{{.Name}}{{end}}</p>
            <div>
                <span>{{.Post.Content}}</span>
            </div>
        </div>
        <!-- <h4>Likes : {{.LikesCount}} || Dislikes : {{ .DislikesCount}}</h4> -->

        <div class="reaction-section">
            <div class="reaction-section">
                <form action="/reactPost" method="POST">
                    <input type="hidden" name="postID" value="{{.Post.Id}}">
                    <input type="hidden" name="sign" value="1">
                    <button class="likos" type="submit">
                        &#128077;
                        <div class="like_count"> {{ .LikesCount}}</div>
                    </button>
                </form>
                <form action="/reactPost" method="POST">
                    <input type="hidden" name="postID" value="{{.Post.Id}}">
                    <input type="hidden" name="sign" value="-1">
                    <button class="dis" type="submit">
                        &#128078;
                        <div class="dis_count"> {{ .DislikesCount}}</div>
                    </button>
                </form>
            </div>
        </div>
        {{if .Auth}}
        {{end}}

        <div class="comment-section">
            {{if .Auth}}
            <div class="comment_for_post">
                <h2>Comments</h2>
                <form id="commentForm" action="/submitComment" method="POST">
                    <input type="hidden" name="postID" value="{{.Post.Id}}">
                    <!-- <textarea name="content" class="content" id="content" cols="35" rows="8" maxlength="256"></textarea> -->
                    <div name="content" id="content" class="content" aria-label="Enter comment" contenteditable="true">
                    </div>
                    <br>
                    <!-- <button type="submit">Create Comment</button> -->
                    <button type="button" onclick="submitComment()">Create Comment</button>
                </form>
            </div>
            <script>
                function submitComment() {
                    var content = document.getElementById('content').innerHTML;
                    document.getElementById('commentForm').innerHTML += '<input type="hidden" name="content" value="' + content + '">';
                    document.getElementById('commentForm').submit();
                }
            </script>
            {{else}}
            <div class="comment_for_post">
                <h2>Comments</h2>
                <p>You must be logged in to create comment</p>
            </div>
            {{end}}

            {{if .Comments}}
            {{range .Comments}}
            <div class="comment-container">
                <p class="autor"> Author: {{.Author}}</p>
                <p class="p_content">{{.Content}}</p>
                <div class="comment-reaction">
                    <!-- <span>&#128077; {{.LikesCount}} </span> <span> || </span><span>&#128078; {{ .DislikesCount}}</span> -->
                    <div class="reaction-section">
                        <form action="/reactComment" method="POST">
                            <input type="hidden" name="postID" value="{{$.Post.Id}}">
                            <input type="hidden" name="commentID" value="{{.ID}}">
                            <input type="hidden" name="sign" value="1">

                            <!-- <button class="likos" type="submit">&#128077;{{.LikesCount}}</button> -->
                            <button class="likos" type="submit">
                                &#128077;
                                <div class="like_count"> {{ .LikesCount}}</div>
                            </button>
                        </form>
                        <form action="/reactComment" method="POST">
                            <input type="hidden" name="postID" value="{{$.Post.Id}}">
                            <input type="hidden" name="sign" value="-1">
                            <input type="hidden" name="commentID" value="{{.ID}}">
                            <button class="dis" type="submit">
                                &#128078;
                                <div class="dis_count"> {{ .DislikesCount}}</div>
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            {{end}}
        </div>
        {{else}}
        {{if .Auth}}
        <p>Be the first who will create comment</p>
        {{end}}
        {{end}}
        </div>
    </main>
</body>

</html>